lightning-modal-header {
    color: rgb(84,105,141);
    --slds-c-modal-heading-font-size: 26px;
    --slds-c-modal-heading-font-weight: 900;
}

.modal-body {
    padding: 10px 50px;
}

.header {
    font-weight: 900;
    font-size: 30px
}

.field {
    padding: 5px
}

.btn-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}