h1 span {
    font-size: 32px;
    font-weight: 900;
}

p.subHeader {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}

.div-center-text {
    text-align:center;
}

.header-container {
    text-align:center;font-size: 32px;font-weight: 900;
}

.subheader-container {
    text-align: center; font-size: 18px; font-weight: 500
}

.return-button {
    display: grid; text-align: center; width: 60%; height: 40px; margin: auto;
}

.footer {
    width: 100%; text-align: center;
}