.event-container {
    position: relative;
    text-align: center;
}

.evt-container {
    height: 265px;
    text-align: center;
}

.text-bold {
    font-weight: 900;
    height: 50px;
    overflow: hidden;
}

.text-desc {
    font-weight: 300;
    font-size: 0.9rem;
    height: 74px;
    overflow:hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.footer-container {
    height: 200px;
}

.align-left {
    text-align:left;
}

.item-label {
    font-size:1rem;
}

.item {
    font-size:1rem;font-weight:bold;
}

.item-label-two {
    font-size:12px;
}

.item-two {
    font-size:12px;font-weight:bold;
}

.documents-container {
    position: absolute;bottom: 5px;left: 20px;right: 20px;
}