.THIS .wavier button {
    text-decoration: underline;
    font-size: 1rem;
} 

.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked~.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked~.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox--faux:after {
    display: block;
    content: '';
    height: .25rem;
    width: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.THIS button[disabled] {
    font-weight: normal !important;
}

.THIS .container {
    margin: 0 auto;
    width: 80% !important;
    max-width: 100% !important;
    min-width: 20rem;
}