/* .THIS lightning-button button {
    width: 100%
} */

.THIS button {
    color:#054547 !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS button.slds-button_brand {
    color:#FFFFFF !important;
}

.THIS .save button.slds-button_brand,
.THIS button.slds-button_brand{
    height:42px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.THIS button.slds-button_brand {
    color:#FFFFFF !important;
    height:42px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked~.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked~.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox--faux:after {
    display: block;
    content: '';
    height: .25rem;
    width: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.THIS h3.slds-accordion__summary-heading button.section-control {
    display:inline-block !important;
    color:#054547 !important;
    font-weight:bold;
}

.THIS button.section-control lightning-primitive-icon {
    float: right !important;
}

.THIS .slds-checkbox_add-button .slds-checkbox_faux:before, 
.THIS .slds-checkbox_add-button .slds-checkbox_faux:after, 
.THIS .slds-checkbox_add-button .slds-checkbox--faux:before, 
.THIS .slds-checkbox_add-button .slds-checkbox--faux:after, 
.THIS .slds-checkbox--add-button .slds-checkbox_faux:before, 
.THIS .slds-checkbox--add-button .slds-checkbox_faux:after, 
.THIS .slds-checkbox--add-button .slds-checkbox--faux:before, 
.THIS .slds-checkbox--add-button .slds-checkbox--faux:after {
}

.THIS .slds-checkbox_add-button [type=checkbox]:checked~.slds-checkbox_faux, 
.THIS .slds-checkbox_add-button [type=checkbox]:checked~.slds-checkbox--faux, 
.THIS .slds-checkbox_add-button [type=checkbox]:checked+.slds-checkbox_faux, 
.THIS .slds-checkbox_add-button [type=checkbox]:checked+.slds-checkbox--faux, 
.THIS .slds-checkbox--add-button [type=checkbox]:checked~.slds-checkbox_faux, 
.THIS .slds-checkbox--add-button [type=checkbox]:checked~.slds-checkbox--faux, 
.THIS .slds-checkbox--add-button [type=checkbox]:checked+.slds-checkbox_faux, 
.THIS .slds-checkbox--add-button [type=checkbox]:checked+.slds-checkbox--faux {
    border-color: transparent;
}

.THIS .slds-checkbox,
.THIS .slds-form-element__control {
    display: inline !important;
}

.THIS {
	position: inherit !important;
}

.THIS span.slds-file-selector__button {
    height:42px;
}

.THIS lightning-input input.slds-input[readonly] {
    padding-left: 0.75rem;
    border-color: rgb(196, 198, 202);
    background-color: rgb(233, 234, 236);
    font-size: var(--lwc-inputStaticFontSize,0.8125rem);
    font-weight: var(--lwc-inputReadonlyFontWeight,400);
}
            
.THIS lightning-spinner.slds-is-absolute {
    position: fixed !important;
}