.header-container {
    text-align: center;
}

.subheader-container {
    text-align: center;
}

.input-container {
    width: 100%; text-align: center;
}

.error-message {
    font-weight: bold;
}

.btn-container {
    width: 100%; text-align: center;
}

.btn {
    display: grid; text-align: center; width: 100%; height: 40px;
}